[0;1;32m●[0m motor_breakevens.service - Motor Breakevens - Inflacion implicita CER/Lecap en tiempo real
     Loaded: loaded (]8;;file://valores-trading-server/etc/systemd/system/motor_breakevens.service/etc/systemd/system/motor_breakevens.service]8;;; [0;1;32menabled[0m; preset: [0;1;32menabled[0m)
     Active: [0;1;32mactive (running)[0m since Thu 2026-04-16 14:31:35 UTC; 6s ago
   Main PID: 1094090 (python)
      Tasks: 8 (limit: 1110)
     Memory: 32.1M (peak: 32.4M)
        CPU: 316ms
     CGroup: /system.slice/motor_breakevens.service
             └─[0;38;5;245m1094090 /root/TradingAV/venv/bin/python -m engines.breakevens[0m

Apr 16 14:31:35 valores-trading-server systemd[1]: Started motor_breakevens.service - Motor Breakevens - Inflacion implicita CER/Lecap en tiempo real.
Apr 16 14:31:35 valores-trading-server python[1094090]: 2026-04-16 14:31:35,858 Motor Breakevens iniciando...
Apr 16 14:31:35 valores-trading-server python[1094090]: /root/TradingAV/venv/lib/python3.12/site-packages/pymongo/common.py:845: UserWarning: Wire protocol compression with zstandard is not available. You must install the backports.zstd module for zstandard support.
Apr 16 14:31:35 valores-trading-server python[1094090]:   value = validator(option, value)
Apr 16 14:31:35 valores-trading-server python[1094090]: /root/TradingAV/venv/lib/python3.12/site-packages/pymongo/common.py:845: UserWarning: Wire protocol compression with snappy is not available. You must install the python-snappy module for snappy support.
Apr 16 14:31:35 valores-trading-server python[1094090]:   value = validator(option, value)
Apr 16 14:31:37 valores-trading-server python[1094090]: 2026-04-16 14:31:37,190 Pares CER/Lecap cargados: 8
Apr 16 14:31:37 valores-trading-server python[1094090]: 2026-04-16 14:31:37,191 Monitoreando 8 pares Lecap/CER.
Apr 16 14:31:38 valores-trading-server python[1094090]: 2026-04-16 14:31:38,264 7 pares | 7 con breakeven calculado.
