[Unit]
Description=Motor de Captura L2 OrderBook a Trading.OrderBookL2
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/TradingAV
ExecStart=/root/TradingAV/venv/bin/python -m engines.order_book_l2
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
