[Unit]
Description=Motor CEDEARs - AcaQuant
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/TradingAV
ExecStart=/root/TradingAV/venv/bin/python -m engines.motor_cedears
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
