[Unit]
Description=Motor Opciones GGAL - TradingAV
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/user/TradingAV
ExecStart=/home/user/TradingAV/venv/bin/python /home/user/TradingAV/main_options.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
