[Unit]
Description=Motor Opciones GGAL - TradingAV
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/TradingAV
ExecStart=/root/TradingAV/venv/bin/python /root/TradingAV/main_options_service.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
